## All Recent Tweets mentioning Company Name and/or Stock Hash/Cashtags

In this file, we preprocess the raw stock data for all companies. In particular, we extract the word counts and Vader scores, then we remove the entries without non-neutral sentiments, and we finally remove the text column from the tables. The preprocessed data will be saved in the csv files called `df_CompanyName_features_added.csv`.

In [1]:
raw_tweet_path = "/Users/josht/Documents/Tweets_raw"

Let us extract the list of all file names in the folder.

In [2]:
from os import listdir

In [3]:
filename_list = listdir(raw_tweet_path)

In [4]:
filename_list.sort()

Now, we import the preprocessing script and run it on all the files whose names are in `filename_list`.

In [5]:
import Text_to_Features_Script as script

In [19]:
# This line is to preprocess all the files
i = 407
for file in filename_list[406:]:
    print("Working on", i, ". . . . . . . . . .")
    script.main(file)
    i += 1

Working on 407 . . . . . . . . . .
Salesforce finished
Working on 408 . . . . . . . . . .
Schlumberger finished
Working on 409 . . . . . . . . . .
SeagateTechnology finished
Working on 410 . . . . . . . . . .
SealedAir finished
Working on 411 . . . . . . . . . .
SempraEnergy finished
Working on 412 . . . . . . . . . .
ServiceNow finished
Working on 413 . . . . . . . . . .
Sherwin-Williams finished
Working on 414 . . . . . . . . . .
SimonPropertyGroup finished
Working on 415 . . . . . . . . . .
SkyworksSolutions finished
Working on 416 . . . . . . . . . .
Snap-on finished
Working on 417 . . . . . . . . . .
SouthernCompany finished
Working on 418 . . . . . . . . . .
SouthwestAirlines finished
Working on 419 . . . . . . . . . .
StanleyBlack_Decker finished
Working on 420 . . . . . . . . . .
Starbucks finished
Working on 421 . . . . . . . . . .
StateStreetCorporation finished
Working on 422 . . . . . . . . . .
Steris finished
Working on 423 . . . . . . . . . .
StrykerCorporation finished
Working on 424 . . . . . . . . . .
SynchronyFinancial finished
Working on 425 . . . . . . . . . .
Synopsys finished
Working on 426 . . . . . . . . . .
Sysco finished
Working on 427 . . . . . . . . . .
T-MobileUS finished
Working on 428 . . . . . . . . . .
T.RowePrice finished
Working on 429 . . . . . . . . . .
TEConnectivity finished
Working on 430 . . . . . . . . . .
TJXCompanies finished
Working on 431 . . . . . . . . . .
Take-TwoInteractive finished
Working on 432 . . . . . . . . . .
Tapestry finished
Working on 433 . . . . . . . . . .
TargetCorporation finished
Working on 434 . . . . . . . . . .
TeledyneTechnologies finished
Working on 435 . . . . . . . . . .
Teleflex finished
Working on 436 . . . . . . . . . .
Teradyne finished
Working on 437 . . . . . . . . . .
Tesla finished
Working on 438 . . . . . . . . . .
TexasInstruments finished
Working on 439 . . . . . . . . . .
Textron finished
Working on 440 . . . . . . . . . .
TheCooperCompanies finished
Working on 441 . . . . . . . . . .
TheHartford finished
Working on 442 . . . . . . . . . .
TheHersheyCompany finished
Working on 443 . . . . . . . . . .
TheMosaicCompany finished
Working on 444 . . . . . . . . . .
TheTravelersCompanies finished
Working on 445 . . . . . . . . . .
TheWaltDisneyCompany finished
Working on 446 . . . . . . . . . .
ThermoFisherScientific finished
Working on 447 . . . . . . . . . .
TractorSupplyCompany finished
Working on 448 . . . . . . . . . .
TraneTechnologies finished
Working on 449 . . . . . . . . . .
TransDigmGroup finished
Working on 450 . . . . . . . . . .
Trimble finished
Working on 451 . . . . . . . . . .
TruistFinancial finished
Working on 452 . . . . . . . . . .
Twitter finished
Working on 453 . . . . . . . . . .
TylerTechnologies finished
Working on 454 . . . . . . . . . .
TysonFoods finished
Working on 455 . . . . . . . . . .
U.S.Bancorp finished
Working on 456 . . . . . . . . . .
UDR finished
Working on 457 . . . . . . . . . .
UltaBeauty finished
Working on 458 . . . . . . . . . .
UnderArmour(ClassA) finished
Working on 459 . . . . . . . . . .
UnderArmour(ClassC) finished
Working on 460 . . . . . . . . . .
UnionPacific finished
Working on 461 . . . . . . . . . .
UnitedAirlines finished
Working on 462 . . . . . . . . . .
UnitedHealthGroup finished
Working on 463 . . . . . . . . . .
UnitedParcelService finished
Working on 464 . . . . . . . . . .
UnitedRentals finished
Working on 465 . . . . . . . . . .
UniversalHealthServices finished
Working on 466 . . . . . . . . . .
VFCorporation finished
Working on 467 . . . . . . . . . .
ValeroEnergy finished
Working on 468 . . . . . . . . . .
Ventas finished
Working on 469 . . . . . . . . . .
Verisign finished
Working on 470 . . . . . . . . . .
VeriskAnalytics finished
Working on 471 . . . . . . . . . .
VerizonCommunications finished
Working on 472 . . . . . . . . . .
VertexPharmaceuticals finished
Working on 473 . . . . . . . . . .
ViacomCBS finished
Working on 474 . . . . . . . . . .
Viatris finished
Working on 475 . . . . . . . . . .
Visa finished
Working on 476 . . . . . . . . . .
VornadoRealtyTrust finished
Working on 477 . . . . . . . . . .
VulcanMaterials finished
Working on 478 . . . . . . . . . .
W.R.BerkleyCorporation finished
Working on 479 . . . . . . . . . .
W.W.Grainger finished
Working on 480 . . . . . . . . . .
WECEnergyGroup finished
Working on 481 . . . . . . . . . .
Wabtec finished
Working on 482 . . . . . . . . . .
WalgreensBootsAlliance finished
Working on 483 . . . . . . . . . .
Walmart finished
Working on 484 . . . . . . . . . .
WasteManagement finished
Working on 485 . . . . . . . . . .
WatersCorporation finished
Working on 486 . . . . . . . . . .
WellsFargo finished
Working on 487 . . . . . . . . . .
Welltower finished
Working on 488 . . . . . . . . . .
WestPharmaceuticalServices finished
Working on 489 . . . . . . . . . .
WestRock finished
Working on 490 . . . . . . . . . .
WesternDigital finished
Working on 491 . . . . . . . . . .
WesternUnion finished
Working on 492 . . . . . . . . . .
Weyerhaeuser finished
Working on 493 . . . . . . . . . .
WhirlpoolCorporation finished
Working on 494 . . . . . . . . . .
WilliamsCompanies finished
Working on 495 . . . . . . . . . .
WillisTowersWatson finished
Working on 496 . . . . . . . . . .
WynnResorts finished
Working on 497 . . . . . . . . . .
XcelEnergy finished
Working on 498 . . . . . . . . . .
Xilinx finished
Working on 499 . . . . . . . . . .
Xylem finished
Working on 500 . . . . . . . . . .
Yum!Brands finished
Working on 501 . . . . . . . . . .
ZebraTechnologies finished
Working on 502 . . . . . . . . . .
ZimmerBiomet finished
Working on 503 . . . . . . . . . .
ZionsBancorp finished
Working on 504 . . . . . . . . . .
Zoetis finished
Working on 505 . . . . . . . . . .
eBay finished

In [18]:
filename_list[406]

'df_Salesforce.csv'

## Recent Tweets from Prominent Users

For Tweets from specific users, first re-define the directory.

In [1]:
raw_tweet_path2 = "/Users/josht/Documents/User_based_tweets"

Make the file list

In [2]:
from os import listdir

filename_list2 = listdir(raw_tweet_path2)

Make an aggregate table.

In [23]:
import pandas as pd 

df_agg = pd.read_csv(raw_tweet_path2 + "/" + filename_list2[0])
company_name = filename_list2[0][3:-4]
df_agg["Company_name"] = [company_name for i in range(df_agg.shape[0])]

for i in range(1, len(filename_list2)):
    df = pd.read_csv(raw_tweet_path2 + "/" + filename_list2[i])
    company_name = filename_list2[i][3:-4]
    df["Company_name"] = [company_name for i in range(df.shape[0])]
    df_agg = pd.concat([df_agg, df], ignore_index=True)

In [24]:
df.shape

(927, 17)

In [26]:
df_agg.shape

(206382, 17)

Now, let's do the sentiment analysis. The final file is saved to `df_user_based_tweets1_features_added.parquet`.

In [27]:
import Text_to_Features_Script as script     # A different version, with the proper things commented out.

In [30]:
script.main(df_agg)

Let's test.

In [31]:
df = pd.read_parquet("/Users/josht/Documents/GitHub/erdos_twitter_project/Data_Preprocessed/df_user_based_tweets1_features_added.parquet")

In [33]:
df.columns

Index(['created_at', 'entities_cashtags', 'entities_hashtags', 'entities_urls',
       'public_metrics_like_count', 'public_metrics_quote_count',
       'public_metrics_reply_count', 'public_metrics_retweet_count', 'text',
       'entities_mentions', 'created_at_user',
       'public_metrics_followers_count', 'public_metrics_following_count',
       'public_metrics_listed_count', 'public_metrics_tweet_count',
       'media_type', 'Company_name', 'Word_count_News_agencies',
       'Word_count_Henry08_pos', 'Word_count_Henry08_neg',
       'Word_count_LM11_pos', 'Word_count_LM11_neg',
       'Word_count_Hagenau13_pos', 'Word_count_Hagenau13_neg',
       'Tweet_Length_characters', 'Tweet_Length_words', 'Compound_vader',
       'Positive_vader', 'Negative_vader', 'Neutral_vader'],
      dtype='object')

In [34]:
df[['Company_name', 'Word_count_News_agencies',
       'Word_count_Henry08_pos', 'Word_count_Henry08_neg',
       'Word_count_LM11_pos', 'Word_count_LM11_neg',
       'Word_count_Hagenau13_pos', 'Word_count_Hagenau13_neg',
       'Tweet_Length_characters', 'Tweet_Length_words', 'Compound_vader',
       'Positive_vader', 'Negative_vader', 'Neutral_vader']]

,Company_name,Word_count_News_agencies,Word_count_Henry08_pos,Word_count_Henry08_neg,Word_count_LM11_pos,Word_count_LM11_neg,Word_count_Hagenau13_pos,Word_count_Hagenau13_neg,Tweet_Length_characters,Tweet_Length_words,Compound_vader,Positive_vader,Negative_vader,Neutral_vader
0,Ceridian,0,0,0,0,1,1,1,226,46,0.3400,0.072,0.000,0.928
1,Illumina,0,0,0,2,2,0,0,284,46,0.2023,0.118,0.078,0.804
2,Illumina,0,0,0,0,0,0,0,108,15,0.0000,0.000,0.000,1.000
3,Illumina,0,0,1,0,1,0,0,108,15,-0.4588,0.000,0.214,0.786
4,Illumina,0,0,0,0,2,0,0,112,14,0.0000,0.000,0.000,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206377,Oracle,0,1,0,0,0,0,0,119,14,0.3182,0.150,0.000,0.850
206378,Oracle,0,1,0,0,0,0,0,119,14,0.3182,0.150,0.000,0.850
206379,Oracle,0,1,0,0,0,0,0,119,15,0.3182,0.150,0.000,0.850
206380,Oracle,0,0,0,0,0,0,0,139,22,0.7876,0.317,0.000,0.683
206381,Oracle,0,0,0,0,0,0,0,222,35,0.3400,0.072,0.000,0.928

Looks good!!!