## All Recent Tweets mentioning Company Name and/or Stock Hash/Cashtags

In this file, we preprocess the raw stock data for all companies. In particular, we extract the word counts and Vader scores, then we remove the entries without non-neutral sentiments, and we finally remove the text column from the tables. The preprocessed data will be saved in the csv files called `df_CompanyName_features_added.csv`.

In [1]:
raw_tweet_path = "/Users/josht/Documents/Tweets_raw"

Let us extract the list of all file names in the folder.

In [2]:
from os import listdir

In [3]:
filename_list = listdir(raw_tweet_path)

In [4]:
filename_list.sort()

Now, we import the preprocessing script and run it on all the files whose names are in `filename_list`.

In [5]:
import Text_to_Features_Script as script

In [19]:
# This line is to preprocess all the files
i = 407
for file in filename_list[406:]:
    print("Working on", i, ". . . . . . . . . .")
    script.main(file)
    i += 1

Working on 407 . . . . . . . . . .
Salesforce finished
Working on 408 . . . . . . . . . .
Schlumberger finished
Working on 409 . . . . . . . . . .
SeagateTechnology finished
Working on 410 . . . . . . . . . .
SealedAir finished
Working on 411 . . . . . . . . . .
SempraEnergy finished
Working on 412 . . . . . . . . . .
ServiceNow finished
Working on 413 . . . . . . . . . .
Sherwin-Williams finished
Working on 414 . . . . . . . . . .
SimonPropertyGroup finished
Working on 415 . . . . . . . . . .
SkyworksSolutions finished
Working on 416 . . . . . . . . . .
Snap-on finished
Working on 417 . . . . . . . . . .
SouthernCompany finished
Working on 418 . . . . . . . . . .
SouthwestAirlines finished
Working on 419 . . . . . . . . . .
StanleyBlack_Decker finished
Working on 420 . . . . . . . . . .
Starbucks finished
Working on 421 . . . . . . . . . .
StateStreetCorporation finished
Working on 422 . . . . . . . . . .
Steris finished
Working on 423 . . . . . . . . . .
StrykerCorporation finished
Working on 424 . . . . . . . . . .
SynchronyFinancial finished
Working on 425 . . . . . . . . . .
Synopsys finished
Working on 426 . . . . . . . . . .
Sysco finished
Working on 427 . . . . . . . . . .
T-MobileUS finished
Working on 428 . . . . . . . . . .
T.RowePrice finished
Working on 429 . . . . . . . . . .
TEConnectivity finished
Working on 430 . . . . . . . . . .
TJXCompanies finished
Working on 431 . . . . . . . . . .
Take-TwoInteractive finished
Working on 432 . . . . . . . . . .
Tapestry finished
Working on 433 . . . . . . . . . .
TargetCorporation finished
Working on 434 . . . . . . . . . .
TeledyneTechnologies finished
Working on 435 . . . . . . . . . .
Teleflex finished
Working on 436 . . . . . . . . . .
Teradyne finished
Working on 437 . . . . . . . . . .
Tesla finished
Working on 438 . . . . . . . . . .
TexasInstruments finished
Working on 439 . . . . . . . . . .
Textron finished
Working on 440 . . . . . . . . . .
TheCooperCompanies finished
Working on 441 . . . . . . . . . .
TheHartford finished
Working on 442 . . . . . . . . . .
TheHersheyCompany finished
Working on 443 . . . . . . . . . .
TheMosaicCompany finished
Working on 444 . . . . . . . . . .
TheTravelersCompanies finished
Working on 445 . . . . . . . . . .
TheWaltDisneyCompany finished
Working on 446 . . . . . . . . . .
ThermoFisherScientific finished
Working on 447 . . . . . . . . . .
TractorSupplyCompany finished
Working on 448 . . . . . . . . . .
TraneTechnologies finished
Working on 449 . . . . . . . . . .
TransDigmGroup finished
Working on 450 . . . . . . . . . .
Trimble finished
Working on 451 . . . . . . . . . .
TruistFinancial finished
Working on 452 . . . . . . . . . .
Twitter finished
Working on 453 . . . . . . . . . .
TylerTechnologies finished
Working on 454 . . . . . . . . . .
TysonFoods finished
Working on 455 . . . . . . . . . .
U.S.Bancorp finished
Working on 456 . . . . . . . . . .
UDR finished
Working on 457 . . . . . . . . . .
UltaBeauty finished
Working on 458 . . . . . . . . . .
UnderArmour(ClassA) finished
Working on 459 . . . . . . . . . .
UnderArmour(ClassC) finished
Working on 460 . . . . . . . . . .
UnionPacific finished
Working on 461 . . . . . . . . . .
UnitedAirlines finished
Working on 462 . . . . . . . . . .
UnitedHealthGroup finished
Working on 463 . . . . . . . . . .
UnitedParcelService finished
Working on 464 . . . . . . . . . .
UnitedRentals finished
Working on 465 . . . . . . . . . .
UniversalHealthServices finished
Working on 466 . . . . . . . . . .
VFCorporation finished
Working on 467 . . . . . . . . . .
ValeroEnergy finished
Working on 468 . . . . . . . . . .
Ventas finished
Working on 469 . . . . . . . . . .
Verisign finished
Working on 470 . . . . . . . . . .
VeriskAnalytics finished
Working on 471 . . . . . . . . . .
VerizonCommunications finished
Working on 472 . . . . . . . . . .
VertexPharmaceuticals finished
Working on 473 . . . . . . . . . .
ViacomCBS finished
Working on 474 . . . . . . . . . .
Viatris finished
Working on 475 . . . . . . . . . .
Visa finished
Working on 476 . . . . . . . . . .
VornadoRealtyTrust finished
Working on 477 . . . . . . . . . .
VulcanMaterials finished
Working on 478 . . . . . . . . . .
W.R.BerkleyCorporation finished
Working on 479 . . . . . . . . . .
W.W.Grainger finished
Working on 480 . . . . . . . . . .
WECEnergyGroup finished
Working on 481 . . . . . . . . . .
Wabtec finished
Working on 482 . . . . . . . . . .
WalgreensBootsAlliance finished
Working on 483 . . . . . . . . . .
Walmart finished
Working on 484 . . . . . . . . . .
WasteManagement finished
Working on 485 . . . . . . . . . .
WatersCorporation finished
Working on 486 . . . . . . . . . .
WellsFargo finished
Working on 487 . . . . . . . . . .
Welltower finished
Working on 488 . . . . . . . . . .
WestPharmaceuticalServices finished
Working on 489 . . . . . . . . . .
WestRock finished
Working on 490 . . . . . . . . . .
WesternDigital finished
Working on 491 . . . . . . . . . .
WesternUnion finished
Working on 492 . . . . . . . . . .
Weyerhaeuser finished
Working on 493 . . . . . . . . . .
WhirlpoolCorporation finished
Working on 494 . . . . . . . . . .
WilliamsCompanies finished
Working on 495 . . . . . . . . . .
WillisTowersWatson finished
Working on 496 . . . . . . . . . .
WynnResorts finished
Working on 497 . . . . . . . . . .
XcelEnergy finished
Working on 498 . . . . . . . . . .
Xilinx finished
Working on 499 . . . . . . . . . .
Xylem finished
Working on 500 . . . . . . . . . .
Yum!Brands finished
Working on 501 . . . . . . . . . .
ZebraTechnologies finished
Working on 502 . . . . . . . . . .
ZimmerBiomet finished
Working on 503 . . . . . . . . . .
ZionsBancorp finished
Working on 504 . . . . . . . . . .
Zoetis finished
Working on 505 . . . . . . . . . .
eBay finished

In [18]:
filename_list[406]

'df_Salesforce.csv'

## Recent Tweets from Prominent Users

For Tweets from specific users, first re-define the directory.

In [1]:
raw_tweet_path2 = "/Users/josht/Documents/Tweets_processed"

Make the file list

In [2]:
from os import listdir

filename_list2 = listdir(raw_tweet_path2)

Make an aggregate table.

In [3]:
import pandas as pd 

df_agg = pd.read_csv(raw_tweet_path2 + "/" + filename_list2[0])
company_name = filename_list2[0][3:-4]
df_agg["Company_name"] = [company_name for i in range(df_agg.shape[0])]

for i in range(1, len(filename_list2)):
    df = pd.read_csv(raw_tweet_path2 + "/" + filename_list2[i])
    company_name = filename_list2[i][3:-4]
    df["Company_name"] = [company_name for i in range(df.shape[0])]
    df_agg = pd.concat([df_agg, df], ignore_index=True)

In [4]:
df.shape

(27, 17)

In [5]:
df_agg.shape

(914523, 17)

Now, let's do the sentiment analysis. The final file is saved to `df_user_based_tweets1_features_added.parquet`.

In [6]:
import Text_to_Features_Script as script     # A different version, with the proper things commented out.

In [7]:
script.main(df_agg)

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000

Let's test.

In [8]:
df = pd.read_parquet("/Users/josht/Documents/GitHub/erdos_twitter_project/Data_Preprocessed/df_tweets_processed_Shashank.parquet")

In [9]:
df.columns

Index(['created_at', 'entities_cashtags', 'entities_hashtags', 'entities_urls',
       'public_metrics_like_count', 'public_metrics_quote_count',
       'public_metrics_reply_count', 'public_metrics_retweet_count', 'text',
       'entities_mentions', 'created_at_user',
       'public_metrics_followers_count', 'public_metrics_following_count',
       'public_metrics_listed_count', 'public_metrics_tweet_count',
       'media_type', 'Company_name', 'Word_count_News_agencies',
       'Word_count_Henry08_pos', 'Word_count_Henry08_neg',
       'Word_count_LM11_pos', 'Word_count_LM11_neg',
       'Word_count_Hagenau13_pos', 'Word_count_Hagenau13_neg',
       'Tweet_Length_characters', 'Tweet_Length_words', 'Compound_vader',
       'Positive_vader', 'Negative_vader', 'Neutral_vader'],
      dtype='object')

In [10]:
df[['Company_name', 'Word_count_News_agencies',
       'Word_count_Henry08_pos', 'Word_count_Henry08_neg',
       'Word_count_LM11_pos', 'Word_count_LM11_neg',
       'Word_count_Hagenau13_pos', 'Word_count_Hagenau13_neg',
       'Tweet_Length_characters', 'Tweet_Length_words', 'Compound_vader',
       'Positive_vader', 'Negative_vader', 'Neutral_vader']]

,Company_name,Word_count_News_agencies,Word_count_Henry08_pos,Word_count_Henry08_neg,Word_count_LM11_pos,Word_count_LM11_neg,Word_count_Hagenau13_pos,Word_count_Hagenau13_neg,Tweet_Length_characters,Tweet_Length_words,Compound_vader,Positive_vader,Negative_vader,Neutral_vader
0,Ceridian,0,1,0,0,0,0,0,119,21,0.0000,0.000,0.000,1.000
1,Ceridian,0,0,0,0,0,0,0,159,31,0.0000,0.000,0.000,1.000
2,Ceridian,0,0,0,0,0,0,0,94,12,0.0000,0.000,0.000,1.000
3,Ceridian,0,0,0,0,0,0,0,156,31,0.0000,0.000,0.000,1.000
4,Ceridian,0,1,1,0,0,0,1,98,19,-0.2732,0.000,0.149,0.851
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914518,PackagingCorporationofAmerica,0,0,0,1,4,0,0,274,57,-0.8207,0.000,0.163,0.837
914519,PackagingCorporationofAmerica,0,0,0,0,0,0,0,128,22,-0.2023,0.000,0.122,0.878
914520,PackagingCorporationofAmerica,0,0,0,0,0,0,0,167,29,0.0000,0.000,0.000,1.000
914521,PackagingCorporationofAmerica,0,1,0,1,0,0,0,160,28,0.4753,0.128,0.000,0.872
914522,PackagingCorporationofAmerica,0,0,0,0,0,0,0,200,38,0.0000,0.000,0.000,1.000

Looks good!!!

The aggregate table is too large to put onto GitHub as a single file. So, we split it into two below.

In [1]:
import pandas as pd

df_all = pd.read_parquet("/Users/josht/Documents/GitHub/erdos_twitter_project/Data_Preprocessed/df_tweets_Shashank_features_added.parquet")

In [7]:
df_all.shape

(914523, 30)

In [4]:
df1 = df_all.loc[df_all.index < 500000].copy()

In [6]:
df1.shape

(500000, 30)

In [8]:
df2 = df_all.loc[df_all.index >= 500000].copy()

In [9]:
df2.shape

(414523, 30)

In [11]:
df1.to_parquet("/Users/josht/Documents/GitHub/erdos_twitter_project/Data_Preprocessed/df_tweets_Shashank_features_added_part1.parquet")

In [12]:
df2.to_parquet("/Users/josht/Documents/GitHub/erdos_twitter_project/Data_Preprocessed/df_tweets_Shashank_features_added_part2.parquet")